{% extends 'signupbase.html' %}
{% load static %}

{% block signuptitle %} Parolu dəyiş {% endblock %}

{% block signup_content %}

    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Parolu sıfırla</header>
                <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <h4 class="alert {{ message.tags }} m-2"> {{message}} </h4>
                        {% endfor %}
                    {% endif %}
                    <div class="field input-field">
                        <label>
                            <input type="password" placeholder="Password" class="password" name="password1">
                        </label>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field input-field">
                        <label>
                            <input type="password" placeholder="Password təkrar" class="password" name="password2">
                        </label>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field input-field">
                        <label>
                            <input type="text" placeholder="Birdəfəlik parol" class="input" name="otp">
                        </label>
                    </div>

                    <div class="field button-field">
                        <button>Təsdiqlə</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}