{% extends 'base.html' %}

{% load static %}
{% block title %}Hesab əməliyyatları{% endblock %}
{%block csscodes%}
    <style>
        
        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }
        
        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }
        
        .profile-button:hover {
            background: #682773
        }
        
        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }
        
        .profile-button:active {
            background: #682773;
            box-shadow: none
        }
        
        .back:hover {
            color: #682773;
            cursor: pointer
        }
        
        .labels {
            font-size: 11px
        }
        
        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }
    </style>
{%endblock%}

{% block content %}

    {% include 'partials/_header.html' %}
    <br><br><br>

    <form style="margin-bottom: 100px;" method="POST">
    {%csrf_token%}
    
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="{% static 'assets/images/icon.png' %}" value="">
                        <span class="font-weight-bold">
                            <input type="text" name="username" value="{{user.username}}" maxlength="150" required id="id_username" class="form-control">
                        </span>
                        <span class="text-black-50">
                            <input style="font-size:14px;" type="email" name="email" value="{{user.email}}" maxlength="254" id="id_email" class="form-control">
                        </span><br>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Hesab tənzimləmələri</h4><br>
                        </div>
                        {% if success %}<h6 style="background-color: rgba(0, 128, 0, 0.4); line-height: 3;"> {{success}} </h6>{% endif %}
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Adınız</label>
                                <input type="text" name="first_name" value="{{user.first_name}}" maxlength="150" id="id_first_name" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Soyadınız</label>
                                <input type="text" name="last_name" value="{{user.last_name}}" maxlength="150" id="id_last_name" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Əlaqə nömrəsi</label>
                                <input type="text" name="phone_number" value="{{ profile.phone_number }}" maxlength="10" id="id_phone_number" class="form-control">
                            </div>
                        </div>
                        <div class="mt-5 text-center"><button type="submit" class="btn btn-primary profile-button" type="button">Yadda saxla</button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center experience"><h4 class="text-right">Hesab əməliyyatları</h4></div><br>
                            <h3>Tezliklə</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{%endblock%}
